@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

#header{
    display: flex;
    justify-content: space-between;
    align-items:center ;
}

#faster{
    display: flex;
    margin-left: 4vw;
    justify-content: center;
    align-items: center;
    gap: 1vw;

}

#faster i {
    font-size: 24px;
    color: orangered;
}

#faster h1 {
    font-size: 24px;
    color: orangered;
    font-family: "Poppins", serif;

}

#menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30vw;
}

#menu{
    height: 5vh; 
}

a{
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-family: "Poppins", serif;
    font-weight: 500;
}

p{
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-family: "Poppins", serif;
    font-weight: 500;
}

#botao{
    margin-right: 4vw;
}

button{
    width: 10vw;
    height: 5vh;
    background-color: orangered;
    border: none;
    cursor: pointer;
    color: white;
}

.batata{
    height: 10vh;
    width: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#seta{
    gap: 0.5vw;
}

.batata:hover{
    background-color: orangered;
    color: white;
}

.image img{
    width: 100vw;
    height: 60vh;
    filter: brightness(0.2);
}

.batata:hover a{
    background-color: orangered;
    color: white;
}

#hero {
    display: flex;
    align-items: center;
    justify-content: center;
}

#content{
    position: absolute;
}

#texts h4{
    color: orangered;
    font-size: 27px;
    font-family: "Poppins", serif;
    text-align: center;
}

#texts h1{
    color: white;
    font-size: 50px;
    font-family: "Poppins", serif;
}

.inputb{
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.inputb input{
    height: 6.5vh;
    width: 22vw;
    outline: none;
    margin-left: 18px;
}

.inputb input::placeholder{
    padding-left: 23px;
    font-size: 12px;
    color: gray;
}

.inputb button{
    width: 7.5vw;
    height: 7vh;
    outline: none;
    font-size: 12px;
    color: white;
}

#requestAQuote{
    width: 100vw;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#numbers{
    display: flex;
    align-items: center;
}

#maior{
    width: 30vw;
}

#form{
    
}